name: Close Stale Issues

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          any-of-labels: 'bug'
          stale-issue-message: 'This issue is stale because it has not been updated in a while.'
          close-issue-message: 'Closing this issue due to inactivity.'
          days-before-stale: 30
          days-before-close: 7
